@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  /* position: relative; */
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

a:hover {
  color: #ffa500;
}

.container {
  width: 1200px;
  /* height: 50px; */
  /* background-color: grey; */
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  margin: 0 auto;
  z-index: 10;
  width: 1200px;
  /* height: 60px; */
  background-color: #000;
}

.nav-menu-logo img {
  width: 50px;
  border-radius: 50%;
}

table {
  width: 600px;
}

.nav-sign {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  /* background-color: #25ab75; */
  background-color: #292929;
}
.nav-sign-in {
  padding: 10px;
  background-color: transparent;
  border: none;
}

.nav-sign-up {
  border-left: 2px solid grey;
  padding: 10px;
}

/* login-section-login-section-login-section-login-section-login-section-login-section-login-section-login-section */
.login-section {
  position: relative;
  top: 70px;
  height: 350px;
  /* background-color: aqua; */
}

.containerr {
  height: 600px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
}

.container .content {
  width: 700px;
}

.container .content h3 {
  text-transform: uppercase;
  font-size: 32px;
}

.container .content p {
  font-size: 20px;
  padding: 10px 0;
}

.container .content p span {
  color: crimson;
}

.container .content .logout {
  display: inline-block;
  padding: 10px 35px;
  font-size: 20px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
}

.container .content .logout:hover {
  opacity: 0.8;
}

.form-container {
  /* min-height: 100vh; */
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0px;
}

.form-container form {
  width: 500px;
  background-color: #fff;
  border: 2px solid #000;
  padding: 20px;
  text-align: center;
}

.form-container form .title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.form-container form .box {
  width: 100%;
  padding: 12px 14px;
  font-size: 20px;
  text-transform: none;
  border: 2px solid #000;
  margin: 10px 0;
}

.form-container form .form-btn {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background-color: #ffa500;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
}

.form-container form .form-btn:hover {
  opacity: 0.8;
}

.form-container form p {
  font-size: 20px;
  margin-top: 20px;
}

.form-container form p a {
  color: crimson;
}

.form-container form .error-msg {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  background-color: crimson;
  font-size: 20px;
  color: #fff;
}

/* copyright-copyright-copyright-copyright-copyrightcopyrightcopyright-copyright */

.copyright {
  top: 200px;
  position: relative;
  height: 100px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-main {
  margin: 0 auto;
  /* border: 1px solid red; */
  width: 500px;
  color: #b6b6b6;
}
