body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  /* position: relative; */
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

a:hover {
  color: #ffa500;
}

.container {
  width: 1200px;
  /* height: 50px; */
  /* background-color: grey; */
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  margin: 0 auto;
  z-index: 10;
  width: 1200px;
  /* height: 60px; */
  background-color: #000;
}

.nav-menu-logo img {
  width: 50px;
  border-radius: 50%;
}

table {
  width: 600px;
}

.nav-sign {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  /* background-color: #25ab75; */
  background-color: #292929;
}
.nav-sign-in {
  padding: 10px;
  background-color: transparent;
  border: none;
}

.nav-sign-up {
  border-left: 2px solid grey;
  padding: 10px;
}

/* section-111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */

.section-one {
  position: relative;
  /* height: 100px; */
}

.section-one-container {
  display: flex;
  justify-content: space-between;
}

.section-one-twins {
  background-color: red;
  position: relative;
}
.new-intensive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292929;
  border-radius: 15px;
  font-size: 12px;
  width: 329px;
  height: 36px;
  padding: 5px;

  position: absolute;
  width: 329px;
  height: 36px;
  left: 0px;
  top: 213px;
}

.new-intensive button {
  background: #ffa500;
  border-radius: 15px;
  font-size: 10px;
  width: 46px;
  height: 26px;
}

.new-intensive-commit {
  font-size: 12px;
  line-height: 18px;
  margin: 0 auto;
  /* identical to box height, or 150% */

  letter-spacing: 0.5px;

  color: #ffffff;

  opacity: 0.8;
}

.section-one-left-title {
  position: absolute;
  width: 814px;
  height: 340px;
  left: 0px;
  top: 280px;

  font-style: normal;
  font-weight: 600;
  font-size: 200px;
  line-height: 170px;
  /* or 85% */

  letter-spacing: -2px;

  color: #ffffffe6;
  z-index: 1;
}

.section-one-left-commit {
  position: absolute;
  width: 600px;
  height: 58px;
  left: 0px;
  top: 662px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  letter-spacing: 0.5px;

  color: #ffffff;

  opacity: 0.5;
  z-index: 1;
}

.section-one-left-btn-start {
  position: absolute;
  width: 200px;
  height: 70px;
  left: 0px;
  top: 770px;

  background: #ffa500;
  border-radius: 10px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;

  color: #ffffff;
}

.section-one-left-btn-start:hover {
  opacity: 0.8;
  /* color: #ffffff; */
  color: #fff;
  cursor: pointer;
}

.section-one-left-btn-prewiev {
  position: absolute;
  width: 200px;
  height: 70px;
  left: 250px;
  top: 770px;
  background-color: rgb(59, 59, 59);
  opacity: 1;
  border-radius: 10px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.section-one-left-btn-prewiev:hover {
  opacity: 0.6;
  cursor: pointer;
  color: #fff;
}

.section-one-right img {
  position: absolute;
  width: 780px;
  /* height: 1170px; */
  left: 500px;
  top: 71px;
  /* z-index: 0; */
}

.section-one-right-about-one {
  position: absolute;
  width: 166px;
  height: 98px;
  left: 1020px;
  top: 335px;

  background: rgba(61, 61, 61, 0.9);
  /* opacity: 0.1; */
  border-radius: 20px;
}
.section-one-right-about-one .time {
  position: absolute;
  top: 20px;
  left: 32px;
  width: 106px;
  height: 40px;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  letter-spacing: 1px;

  color: #ffe642;
}

.section-one-right-about-one .time-word {
  text-transform: uppercase;
  position: absolute;
  width: 32px;
  height: 13px;
  left: 32px;
  bottom: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height, or 100% */

  letter-spacing: 1px;

  color: #ffffff;
}
.section-one-right-about-two {
  position: absolute;
  width: 166px;
  height: 105px;
  left: 1020px;
  top: 453px;

  background: rgba(61, 61, 61, 0.9);
  /* opacity: 0.1; */
  border-radius: 20px;
}

.section-one-right-about-two .number-calories {
  /* 165 */

  position: absolute;
  width: 68px;
  height: 40px;
  top: 20px;
  left: 32px;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */
  letter-spacing: 1px;

  color: #fb1351;
}

.section-one-right-about-two .calories {
  /* EST CALORIES */

  position: absolute;
  /* width: 96px;
  height: 20px; */
  bottom: 20px;
  left: 32px;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  letter-spacing: 1px;

  color: #ffffff;
}

/* section-22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 */

.section-two {
  top: 1000px;
  position: relative;
  height: 1000px;
  /* background-color: blue; */
}

.popular-exercises {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.exercises-title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  /* identical to box height, or 129% */

  letter-spacing: 0.3px;

  color: #ffa500;
}

.exercises-more {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 1.5px;

  color: #ffffff;

  opacity: 0.67;
}

.exercises-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.exercises-sec {
  margin: 50px 0px;
  width: 373px;
  height: 296px;
  position: relative;
}

.exercises-sec-img {
  width: 373px;
  height: 250px;
}

.exercises-sec-img video {
  width: 373px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%);
}

.exercises-sec-title {
  position: absolute;
  bottom: 27px;
  left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 45px;
  /* identical to box height, or 90% */

  letter-spacing: 0.3px;

  color: #ffffff;
}

.exercises-sec-commit {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  /* identical to box height, or 108% */

  letter-spacing: 0.5px;

  color: #ffa500;

  opacity: 0.67;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

/* section-three-333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333 */

.section-three {
  height: 1350px;
  position: relative;
  top: 1000px;
  /* background-color: #fb1351; */
}

.section-three-container {
  padding-top: 50px;
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.section-three-left {
  position: relative;
}

.section-three-left-title {
  position: absolute;
  width: 523px;
  height: 480px;

  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 120px;
  /* or 100% */

  letter-spacing: -2px;

  color: #ffffff;
  z-index: 3;
}

.section-three-left-yellow {
  position: absolute;
  width: 504.24px;
  height: 121.12px;
  left: -45px;
  bottom: -270px;

  /* transform: rotate(-5deg); */
  z-index: 1;
}

.section-three-bg-right {
  width: 880px;
  height: 650px;
  background-color: #808080;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  /* border: 1px solid green; */
}

.section-three-right {
  position: relative;
}

.section-three-right-commit {
  margin-top: 20px;
  width: 558px;
  height: 200px;

  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 50px;
  /* or 200% */

  letter-spacing: 0.5px;

  color: #ffffff;

  opacity: 0.7;
}

.section-three-right button {
  position: absolute;
  width: 200px;
  height: 70px;
  left: 0px;
  top: 220px;

  width: 200px;
  height: 70px;
  border: none;
  margin-top: 60px;

  background: #ffa500;
  border-radius: 10px;

  font-weight: 600;
  font-size: 18px;

  letter-spacing: 1px;
  text-align: center;
  line-height: 70px;
  color: #ffffff;
}

.section-three-right button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}
/* trainers-main */

.trainers-main {
  width: 1200px;
  height: 700px;
  /* background-color: indigo; */
  position: absolute;
  bottom: 0px;
}

.trainers-sec-one {
  position: absolute;
  top: 0px;
  left: 0px;
}

.trainers-sec-img {
  width: 320px;
}

.trainers-sec-name {
  width: 196px;
  height: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-left: 10px;
  /* identical to box height, or 125% */

  letter-spacing: 0.5px;

  color: #ffffff;
}

.trainer {
  width: 52px;
  height: 14px;
  padding-left: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  letter-spacing: 0.5px;

  color: #ffa500;

  opacity: 0.5;
}

/* karen */

.trainers-sec-two {
  position: absolute;
  left: 320px;
  top: 320px;
}

/* jonathan */

.trainers-sec-three {
  position: absolute;
  top: -195px;
  right: 0px;
}

.trainers-sec-three img {
  width: 560px;
}

/* section-four-444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 */

.section-four {
  margin-top: 100px;
  height: 750px;
  position: relative;
  top: 1000px;
  /* background-color: #13fb4d; */
}

/* ///sertficate/// */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffd993;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #d38a03;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* section-reklama****section-reklama*****section-reklama****section-reklama***section-reklama***section-reklama */
.section-reklama {
  top: 1000px;
  position: relative;
  height: 800px;
  /* background-color: green; */
}

/* .section-reklama-container{
  position: relative;
} */

.section-reklama-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  /* border: 5px solid greenyellow; */
  width: 1000px;
}

.section-reklama-left img {
  width: 400px;
}

.section-reklama-right {
  width: 500px;
  color: #ffffff;
}

.section-reklama video {
  /* margin: 50px 0px; */
  width: 1200px;
  height: 585px;
  object-fit: cover;
  opacity: 0.5;
}

/* .section-reklama .reklama-gif {
  background: url("../fitness-reklama/1080px__.gif") no-repeat center;
  width: 1200px;
  height: 1000px;
} */

/* .section-reklama .reklama-gif img{
  width: 800px;
  margin: 0 auto;
  object-fit: cover;
} */

/* section-five-555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555 */

.section-five {
  position: relative;
  top: 1000px;
  height: 1000px;
  /* background-color: #2fd5ff; */
}

.section-five-testimonial {
  width: 500px;
  /* border: 1px solid red; */
  color: #b6b6b6;
}

.section-five-testimonial-title {
  border-bottom: 4px solid #ffa500;
  width: 200px;
  font-size: 32px;
  font-weight: bold;
  padding: 0px 10px;
}

.section-five-testimonial-commit {
  padding: 15px 0px;
  font-weight: 700;
  font-size: 20px;
}

.section-five-main {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-five-sections {
  background-color: #0e0e0e;
  color: #b6b6b6;
  padding: 25px 15px;
  width: 250px;
  margin-top: 30px;
  /* height: 400px; */
  /* border: 1px solid red */
}

.section-five-client-theme {
  font-weight: bold;
  font-size: 30px;
}

.section-five-client-commit {
  padding: 15px 0px;
  font-size: 18px;
}

.section-five-about {
  display: flex;
  align-items: center;
}

.section-five-user-img img {
  width: 60px;
  border-radius: 50%;
}

.section-five-user {
  margin-left: 10px;
}

.section-five-user-name {
  font-size: 16px;
}

.section-five-user-adress {
  font-size: 10px;
}

/* section-six-6666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666 */

.section-six {
  position: relative;
  top: 1000px;
  padding: 50px 0px;
  height: 500px;
  /* background-color: #fb1351; */
}

.section-six-partners-title {
  /* border: 1px solid green; */
  border-bottom: 5px solid #ffa500;
  width: 130px;
  font-size: 32px;
  font-weight: bold;
  color: #b6b6b6;
  padding: 0px 15px;
}

.section-six-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 900px;
  margin: 50px auto;
}

.section-six-partners-sections {
  width: 200px;
  height: 100px;
  background: #ffffff;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
}

.section-six-partners-sections img {
  width: 80px;
}

/* footer--footer--footer--footer--footer--footer--footer--footer--footer--footer--footer--footer--footer--footer--footer--footer */

footer {
  position: relative;
  top: 1000px;
  height: 600px;
  /* background-color: #0e0e0e; */
  /* background-color: #3c9941; */
}

.footer-main {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #808080;
}

.footer-main-left table tr td {
  border-bottom: 2px solid #808080;
}

.footer-main-left table tr td a {
  margin-right: 15px;
}

.footer-left-title {
  font-weight: bold;
  font-size: 34px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-bottom: 5px solid #ffa500;
}

/* register-register-register-register-register-register-register-register */

.register {
  position: relative;
  top: 1000px;
  height: 300px;
  /* background-color: #25ab75; */
  padding: 50px;
}

.register-main {
  width: 900px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-main .register-heading {
  color: #b6b6b6;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  border-bottom: 3px solid #ffa500;
}

.register-main form {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.register-main form .input-box input {
  width: 315px;
  padding: 5px;
  margin: 5px 0px;
  background-color: #0e0e0e;
  color: #b6b6b6;
  font-size: 20px;
}

.register-main form textarea {
  width: 650px;
  margin-top: 5px;
  padding: 5px;
  background-color: #0e0e0e;
  color: #b6b6b6;
  font-size: 20px;
}

.register-main form .register-btn {
  width: 100px;
  padding: 15px;
  background-color: #ffa500;
  color: #fff;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 16px;
}

.register-main form .register-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* copyright-copyright-copyright-copyright-copyrightcopyrightcopyright-copyright */

.copyright {
  top: 1100px;
  position: relative;
  height: 100px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-main {
  margin: 0 auto;
  /* border: 1px solid red; */
  width: 500px;
  color: #b6b6b6;
}

/* @media all and (max-width: 576px){
  .wrapper{
      width: 80%;
  }
  .main{
      justify-content: center;
  }
  .box{
      margin-top: 30px;
  }
} */

/* @media all and (min-width: 576.1px) and (max-width: 768px){
  .wrapper{
      width: 90%;
  }
  
  .main{
      justify-content:space-around;
  }
  .box{
      margin-top: 30px;
  }
} */

/* @media all and (min-width: 768.1px) and (max-width: 992px){
  .wrapper{
      width: 90%;
  }
  .main{
      justify-content:space-around;
  }
  .box{
      margin-top: 30px;
  }
} */

@media all and (min-width: 992.1px) and (max-width: 1200px) {
  /* body{
    background-color: greenyellow;
  } */

  .container {
    width: 90%;
    /* border: 20px solid red; */
  }
  .nav-menu {
    width: 90%;
  }
  .section-one {
    position: relative;
  }
  .section-one-twins {
    /* margin: 0 auto; */
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .section-one-left {
    position: absolute;
    margin: 0 auto;
    left: 35%;
  }
  .section-one-right {
    position: relative;
    top: 800px;
    /* right: 0px; */
  }
  .section-one-right img {
    position: absolute;
    width: 780px;
    /* height: 1170px; */
    left: 0px;
    top: 71px;
    /* z-index: 0; */
  }
  .section-one-right-about-one {
    position: absolute;
    left: 600px;
    top: 335px;
  }
  .section-one-right-about-two {
    position: absolute;
    left: 600px;
    top: 453px;
  }

  .section-two {
    position: relative;
    top: 2000px;
  }

  .exercises-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
/* section-3333 */
  .section-three {
    position: relative;
    top: 2400px;
  }

  .section-three-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .section-three-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .section-three-bg-right {
    display: none;
  }

  .section-three-right-commit {
    position: relative;
    top: 500px;
  }

  .trainers-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-three-right button {
    position: absolute;
    left: 0px;
    top: 700px;
  }

  .trainers-sec-one {
    position: absolute;
    top: 300px;
    left: 35%;
  }

  .trainers-sec-two {
    position: absolute;
    left: 35%;
    top: 700px;
  }

  .trainers-sec-three {
    position: absolute;
    left: 35%;
    top: 1100px;
  }

  .trainers-sec-three img {
    width: 320px;
  }

  /* section-4444 */

  .section-four {
    margin-top: 100px;
    height: 750px;
    position: relative;
    top: 3200px;
    /* background-color: #13fb4d; */
  }
/* reklama */

.section-reklama {
  top: 3300px;
  position: relative;
  height: 800px;
  width: 100%;
  /* background-color: green; */
}

.section-reklama-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  /* border: 5px solid greenyellow; */
  width: 90%;
}

.section-reklama-container video{
  width: 100%;
}

  .copyright {
    position: relative;
    top: 5000px;
  }
}
