@import url("./zzz.css");

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  position: relative;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

a:hover {
  color: #ffa500;
}

.container {
  width: 1200px;
  height: 50px;
  /* background-color: grey; */
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  margin: 0 auto;
  z-index: 10;
  width: 1200px;
  /* height: 60px; */
  background-color: #000;
}

.nav-menu-logo img {
  width: 50px;
  border-radius: 50%;
}

table {
  width: 600px;
}

.nav-sign {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  /* background-color: #25ab75; */
  background-color: #292929;
}
.nav-sign-in {
  padding: 10px;
  background-color: transparent;
  border: none;
}

.nav-sign-up {
  border-left: 2px solid grey;
  padding: 10px;
}

/* section-togaraklar-section-togaraklar-section-togaraklar-section-togaraklar-section-togaraklar-section-togaraklar */

.section-togaraklar {
  position: relative;
  /* top: 500px; */
  height: 500px;
  /* background-color: green; */
}

.togaraklar-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0px;
}

.togaraklar-sec {
  /* border: 1px solid red; */
  width: 500px;
  height: 400px;
  padding: 40px 30px;
  margin-top: 50px;
  background-color: #292929;
  color: #b6b6b6;
}

.togaraklar-sec-top {
  display: flex;
  justify-content: start;
  align-items: center;
}

.togaraklar-sec-top-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.togaraklar-sec-top-about {
  padding: 0px 20px;
}


.togaraklar-sec-top-about-title {
  font-weight: bold;
  font-size: 36px;
}

.togaraklar-sec-top-about-commit {
  font-size: 14px;
}

.togaraklar-sec-commit {
  padding: 30px 0px;
}

.togaraklar-sec-commit table {
  /* border: 1px solid red; */
  width: 450px;
  line-height: 40px;
}

.togaraklar-sec-bottom button {
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #ffa500;
  color: #fff;
}

.togaraklar-sec-bottom button:hover {
  opacity: 0.8;
  cursor: pointer;
  color: #fff;
}

/* copyright-copyright-copyright-copyright-copyrightcopyrightcopyright-copyright */

.copyright {
  top: 1200px;
  /* bottom: 10px; */
  position: relative;
  height: 100px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-main {
  margin: 0 auto;
  /* border: 1px solid red; */
  width: 500px;
  color: #b6b6b6;
}
