.register-main {
    width: 850px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  
  .register-main form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* .register-main form .input-box {
    display: flex;
    justify-content: space-between;
  } */
  
  .register-main form .input-box
  textarea {
    width: 100%;
    background-color: #b6b6b6;
    padding: 10px;
    border: none;
    margin: 10px 0px;
  }
  
  .register-main form .input-box input{
    width: 100%;
    background-color: #b6b6b6;
    padding: 10px;
    border: none;
    margin: 10px 0px;
  }
  
  .register-main form .register-btn{
    padding: 5px 15px;
    background-color: #1a1a1a;
    color: #717171;
    width: 200px;
  }